{% if section.settings.product_list_one.products == blank %}
  {% assign products_list_one = collections.first.products %}
{% else %}
  {% assign products_list_one = section.settings.product_list_one.products %}
{% endif %}

{% if section.settings.product_list_two.products == blank %}
  {% assign products_list_two = collections.last.products %}
{% else %}
  {% assign products_list_two = section.settings.product_list_two.products %}
{% endif %}

<section class="pb-70">
  <div class="container">
    <div class="row">
      <div class="recommended-text-box pb-30">
        <h2 class="heading-text">Featured products</h2>
        <span class="line-2"> </span>
      </div>
      <div class="f-product-box-1 d-flex align-items-center">
        {% for product in products_list_one limit: 5 %}
          <div class="f-product pl-20">
            <img src="{{product.featured_image |  image_url: width: 200, height: 200}}" alt="" class="b-img">
            <span
              class="heart-icon-1 add-to-wishlist"
              data-product-id="{{ product.id }}"
              data-product-title="{{ product.title }}"
              data-product-url="{{ product.url }}"
              data-product-price="{{ product.price }}"
              data-product-compare-at-price="{{ product.compare_at_price }}"
              data-product-type="{{ product.type }}"
              data-product-vendor="{{ product.vendor }}"
              data-product-available="{{ product.available }}"
              data-product-created-at="{{ product.created_at }}"
              data-product-description="{{ product.description | escape }}"
              data-product-handle="{{ product.handle }}"
              data-product-collections="{{ product.collections | join: ',' }}"
              data-product-tags="{{ product.tags | join: ',' }}"
            >
              <i class="fas fa-heart"></i>
            </span>
            <a href="{{product.url}}" class="text-decoration-none text-dark">
              <div class="card-text pt-20">
                <h6>{{ product.title }}</h6>
                <span class="rating">
                  <img src="img/categorise-img/rating.png" alt="" class="rating-img">
                  <span class="rating-count">(10,002)</span>
                </span>
                <span class="price">{{- product.price | money -}}</span>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="f-product-box-2 pt-60 d-flex align-items-center">
        {% for product in products_list_two limit: 5 %}
          <div class="f-product pl-20">
            <img src="{{product.featured_image |  image_url: width: 200, height: 200}}" alt="" class="b-img">
            <span
              class="heart-icon-1 add-to-wishlist p-6"
              data-product-id="{{ product.id }}"
              data-product-title="{{ product.title }}"
              data-product-url="{{ product.url }}"
              data-product-price="{{ product.price }}"
              data-product-compare-at-price="{{ product.compare_at_price }}"
              data-product-type="{{ product.type }}"
              data-product-vendor="{{ product.vendor }}"
              data-product-available="{{ product.available }}"
              data-product-created-at="{{ product.created_at }}"
              data-product-description="{{ product.description | escape }}"
              data-product-handle="{{ product.handle }}"
              data-product-collections="{{ product.collections | join: ',' }}"
              data-product-tags="{{ product.tags | join: ',' }}"
            >
              <i class="fas fa-heart"></i>
            </span>
            <a href="{{product.url}}" class="text-decoration-none text-dark">
              <div class="card-text pt-20">
                <h6>{{ product.title }}</h6>
                <span class="rating">
                  <img src="img/categorise-img/rating.png" alt="" class="rating-img">
                  <span class="rating-count">(10,002)</span>
                </span>
                <span class="price">{{- product.price | money -}}</span>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="btn-black m-auto f-product-btn">
        <span>SHOP NOW</span>
      </div>
    </div>
    <!-- row end -->
  </div>
</section>
{% schema %}
{
  "name": "Create Own Feature",
  "settings": [
    {
      "type": "product_list",
      "id": "product_list_one",
      "label": "Featured Products"
    },
    {
      "type": "product_list",
      "id": "product_list_two",
      "label": "Featured Products"
    }
  ],
  "presets": [
    {
      "name": "Create Own Feature Products"
    }
  ]
}
{% endschema %}
