{% assign navigation_menu = section.settings.navbar_menu %}
<header>
  <div class="top-header">
    <div class="container">
      <div class="header-line">
        <div class="row d-flex align-items-center pt-10 ">
          <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-3">
            <div class="logo">
              <a href="{{shop.url}}">
                <img src="{{shop.brand.logo |  image_url: width: 150, height: 50}}" alt="logo">
              </a>
            </div>
          </div>
          <div class="col-xl-6 col-lg-5 col-md-4 col-sm-10 col-9">
            <div class="search-box">
              <div class="search-bar">
                <input type="text" id="search" name="search-box" class="search" placeholder="Search your products">
                <button type="submit" class="button">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="top-header-right">
              <ul>
                <li>
                  <div class="btn btn-orange top-header-btn">
                    <span>Become a Seller</span>
                  </div>
                </li>
                <li>
                  <div class="top-header-login">
                    <a href="#">Log In</a>
                    <a href="#">Sign Up</a>
                  </div>
                </li>
                <li>
                  <div class="top-header-cart">
                    <a href="#">
                      <i class="fas fa-heart"></i>
                    </a>
                    <a href="#">
                      <i class="fas fa-shopping-cart"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-mega-menu">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- menu start here -->
          <div class="header-item item-center">
            <div class="menu-overlay"></div>
            <nav class="menu">
              <div class="mobile-menu-head">
                <div class="go-back"><i class="fas fa-angle-left"></i></div>
                <div class="current-menu-title"></div>
                <div class="mobile-menu-close">&times;</div>
              </div>
              <ul class="menu-main">
                {% for single_menu in navigation_menu.links %}
                  <li class="{% if single_menu.links != blank %}menu-item-has-children{% endif %}">
                    <a href="{{ single_menu.url }}">{{ single_menu.title }}</a>
                    <!-- Check if there are child links -->
                    {% if single_menu.links != blank %}
                      <div class="sub-menu mega-menu mega-menu-column-4">
                        <div class="mega-menu-items">
                          <div class="container">
                            <div class="row">
                              <div class="col-xl-12 col-lg-12">
                                <div class="mega-menu-cat-title mt-15">
                                  <h2>{{ single_menu.title }}</h2>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <!-- Loop through child links of single_menu -->
                              {% for childLink in single_menu.links %}
                                <div class="col-xl-3 col-lg-3">
                                  <div class="list-item">
                                    <h4 class="title"><i class="fas fa-shopping-bag"></i> {{ childLink.title }}</h4>

                                    <!-- Check if childLink has grandchild links -->
                                    <ul>
                                      {% if childLink.links != blank %}
                                        {% for grandChildLink in childLink.links %}
                                          <li>
                                            <a href="{{ grandChildLink.url }}">{{ grandChildLink.title }}</a>
                                          </li>
                                        {% endfor %}
                                      {% else %}
                                        <!-- If no grandchild links, just show child link -->
                                        <li>
                                          <a href="{{ childLink.url }}">{{ childLink.title }}</a>
                                        </li>
                                      {% endif %}
                                    </ul>
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  </li>
                {% endfor %}

                <li class="btn btn-orange sub-menu-btn">
                  <span>Become a Seller</span>
                </li>
              </ul>
            </nav>
          </div>
          <!-- mobile menu trigger -->
          <div class="mobile-menu-trigger">
            <span></span>
          </div>
          <!-- menu end here -->
        </div>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "header",
  "settings": [
    {
      "type": "link_list",
      "id": "navbar_menu",
      "label": "Select a Menu",
      "default": "main-menu"
    }
  ],
  "presets": []
}
{% endschema %}
