{% assign recommended_products = section.settings %}
<section class="Recommended-section">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="recommended-text-box">
        <h2 class="heading-text">{{ recommended_products.heading_text }}</h2>
        <a href="">
          <div class="btn-black">
            <span>SHOP NOW</span>
          </div>
        </a>
      </div>
      <span class="line pt-20"> </span>
    </div>
  </div>

  <div class="card-box">
    <div class="owl-carousel owl-theme">
      {% for product in recommended_products.recommended_products_collection.products %}
        <div class="item circle-shape">
          <img
            class="rounded-lg"
            src="{{ product.featured_image | image_url: width: 350, height: 350 }}"
            width="350px"
            height="350px"
            alt="{{ product.title }}"
          >
          <a href="{{ product.url }}" class="text-decoration-none text-dark">
            <span
              class="heart-icon"
              data-product-id="{{ product.id }}"
              data-product-title="{{ product.title }}"
              data-product-url="{{ product.url }}"
              data-product-price="{{ product.price }}"
              data-product-compare-at-price="{{ product.compare_at_price }}"
              data-product-type="{{ product.type }}"
              data-product-vendor="{{ product.vendor }}"
              data-product-available="{{ product.available }}"
              data-product-created-at="{{ product.created_at }}"
              data-product-description="{{ product.description | escape }}"
              data-product-handle="{{ product.handle }}"
              data-product-collections="{{ product.collections | join: ',' }}"
              data-product-tags="{{ product.tags | join: ',' }}"
            >
              <i class="fas fa-heart"></i>
            </span>
            <div class="card-text pt-20">
              <h6>{{ product.title }}</h6>
              <span class="price">
                {{ product.price | money }}
                {% if product.compare_at_price > product.price %}
                  <span class="compare-price">{{ product.compare_at_price | money }}</span>
                {% endif %}
              </span>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Create Own Recomended",
  "settings": [
    {
      "type": "header",
      "content": "Create Own Recomended"
    },
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "Recommended for you"
    },
    {
      "type": "collection",
      "id": "recommended_products_collection",
      "label": "Recommended Products"
    }
  ],
  "presets": [
    {
      "name": "Create Own Recomended"
    }
  ]
}
{% endschema %}
